* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  text-align: center;
  margin: 0 auto;
}
.content {
  background-color: #4d4d4d;
  width: 400px;
  margin: 0 auto;
  min-height: 100%;
  height: auto;
  padding: 20px;
  display: inline-block;
}

.todo-interactions {
  margin-bottom: 50px;
}

h1 {
  margin-bottom: 60px;
  font-weight: 100;
  text-align: center;
  padding-top: 60px;
  color: white;
}

form {
  display: inline;
}

input {
  font-size: 12pt;
  height: 20px;
}

ul {
  list-style-type: none;
}

li{
  background-color: #0d8bd9;
  margin-top: 1em;
  border-radius: 40px;
  color: white;
  padding: 20px;
  width: 80%;
  text-align: left;
  margin: 1em auto 0 auto;
}

button {
  padding: 4px 7px;
  border-radius: 20px;
  border-style: solid;
}

ul li button {
  float: right;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: -3px;
}

#delete-button {
  margin-left: 15px;
}
